/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

/* font-family: 'Crimson Pro', serif;
 */

:root {
    /* color */
    --clr-white: #fff;
    --clr-black: #181719;
    --clr-gray: #828282;

    /* font-size */
    --fnt-lg: clamp(2.25rem, 2.25rem + 1vw, 3rem);
    --fnt-md: clamp(1.125rem, 1.125rem + 1vw, 1.5rem);
    --fnt-sm: clamp(.845rem, .845rem + 1vw, 1.5rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* typography-start */
html {
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-white);
    background-color: var(--clr-black);
    width: 90vw;
    max-width: 1440px;
    margin: 0 auto;

    & h1 {
        font-weight: 500;
        font-size: var(--fnt-lg);
        font-family: 'Lora', serif;
    }

    & h2 {
        font-weight: 700;
        font-size: var(--fnt-md);
    }

    & p {
        font-size: var(--fnt-sm);
    }
}

/* typography-end */

/* navigation-start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;

    & span {
        border: 2px solid white;
        padding: .5em;
    }

    & ul {
        display: none;
        list-style: none;
        justify-content: space-between;

        & a {
            text-decoration: none;
            color: var(--clr-white);
        }

        & li:hover a {
            border-bottom: 2px solid white;
        }
    }

    & input {
        position: absolute;
        top: 40px;
        right: 28px;
        z-index: 1000;
        width: 25px;
        height: 25px;
        opacity: 0;
    }

    & .menu-icon-x {
        font-size: 1.5rem;
        transform: translate(42px);
        opacity: 0;
    }

    & .menu-icon-y {
        font-size: 1.5rem;
        opacity: 1;
    }
}

/* navigation-end */

/* humburger-menu-start */
.menu {
    & input[type="checkbox"]:checked~ul {
        display: flex;
        flex-direction: column;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 100px);
        padding: calc(50% - 5ch);
        border-color: var(--clr-black);
        opacity: .5;

        & li {
            padding-bottom: 1rem;
        }
    }

    & input[type="checkbox"]:checked~.menu-icon-x {
        opacity: 1;
    }

    & input[type="checkbox"]:checked~.menu-icon-y {
        opacity: 0;
    }
}

/* humberger-menu-end */


@media (min-width: 640px) {
    nav {

        & h3,
        .menu {
            flex: 1;
        }

        & input,
        svg {
            display: none;
        }

        & ul {
            display: flex;
        }
    }
}